* {
    box-sizing: inherit;
}

#root {
    /* display: flex; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#banner {
    width: 100%;
    position: fixed;
    top: 0;
}

#welcome {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    width: 1000px;
    margin: 0 auto;
    padding: 48px 0;
    flex: 1;
}

#info {
    display: flex;
    height: 80px;
    justify-content: center;
}

#bannerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    height: 80px;
}

#menu {
    display: none;
    position: fixed;
    background-color: grey;
    right: 25%;
    width: 400px;
    height: 550px;
}

#buttonWrapper:hover #menu {
    display: block;
}

#placeholder {
    max-width: 424px;
}

#image {
    display: flex;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#buttonText {
    color: black;
    text-align: center;
    margin: 0;
}

#textButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#textButtonWrapper button {
    display:block;
    width: 350px;
    height: 40px;
    
}